@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
    --pri: #ffffff;
    --ter: #3f181c;
    --sec: #fc981b;
    --text: #252525;
    --width: min(88vw, 1400px);
    --set-shadow: 4px 4px 5px #3332;
    --set-shadow2: 4px 4px 5px #ffffff15;
    --gap: 50px;
    --rad: 100vmax;
    --rad2: 10px;
    --trans: 150ms ease-in-out;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 68px;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--ter);
    border-radius: var(--rad);
}

body, ::-webkit-scrollbar-track {
	background-color: var(--pri);
}

body, html {
    font-family: var(--font-mono);
    overflow-x: clip;
    color: var(--text);
}

/* before styling */
.secondSec h3::before, h3.title::before {
    content: '';
    position: absolute;
    background-color: var(--sec);
    width: 50%;
    height: 5px;
    border-radius: var(--rad);
    bottom: -10px;
    left: 50%;
    translate: -50% 0;
}

/* main section */
main > article {
    min-height: 91vh;
}

#about, #home {
    display: grid;
    place-items: center;
}

#menu > div > ul, #gallery ul {
    width: var(--width);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
}

#gallery, #testimonials, #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Forms */
textarea {resize: none;}

/* animations */
.toScrollAnimate {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 25%;
}


@keyframes appear {
    from {
        opacity: 0;
        scale: 0.55;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

/* Media styles */
@media(max-width: 780px) {
    nav > section ul {display: none;}
    .menu {display: inline-block;}

    div:has(.links2) {
        display: inline-block;
        z-index: 99;
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

@media(max-width: 300px) {
    #menu > div > ul, #gallery ul {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}
